<div class="card mb-3">
  <h2 class="card-header h4">
    Poem #<%= poem.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Title</dt>
      <dd><%= poem.title %></dd>

      <dt>Body</dt>
      <dd><%= poem.body %></dd>

      <dt>Author</dt>
      <dd>
        <% if @poem.author.present? %>
          <%= link_to poem.author, poem.author %>
        <% end %>
      </dd>

      <dt>Date</dt>
      <dd><%= poem.date %></dd>

      <dt>Commentary</dt>
      <dd><%= poem.commentary %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back poem, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_poem_url(poem), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to poem, method: :delete, data: { confirm: "Do you really want to delete this poem?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(poem.updated_at) %> ago
  </div>
</div>
