<!-- Form like start -->
<%= form_with(model: @like, local: true) do |f| %>
<!-- Form like end -->

  <!-- Label and input for poem_id start -->
  <!-- Input for poem_id start -->
  <%= f.hidden_field :poem_id, value: @poem.id %>
  <!-- Input for poem_id end -->
  <!-- Label and input for poem_id end -->

  <!-- Label and input for liker_id start -->
  <div class="form-group">
    <%= f.label :liker_id %>

    <!-- Input for liker_id start -->
    <%= f.text_field :liker_id, class: "form-control" %>
    <!-- Input for liker_id end -->
  </div>
  <!-- Label and input for liker_id end -->

  <%= f.submit "Create like", class: "btn btn-block btn-outline-secondary" %>
<% end %>
