<%= form_with(model: @like, local: true) do |f| %>

  <%= f.hidden_field :poem_id, value: @poem.id %>

  <div class="form-group">
    <%= f.label :liker_id %>

    <%= f.collection_select :liker_id, Poet.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create like", class: "btn btn-block btn-outline-secondary" %>
<% end %>
