<div class="card mb-3">
  <h2 class="card-header h4">
    Poet #<%= poet.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Email</dt>
      <dd><%= poet.email %></dd>

      <dt>Password</dt>
      <dd><%= poet.password %></dd>

      <dt>Name</dt>
      <dd><%= poet.name %></dd>

      <dt>Bio</dt>
      <dd><%= poet.bio %></dd>

      <dt>Dob</dt>
      <dd><%= poet.dob %></dd>

      <dt>Photo</dt>
      <dd>
        <%= cl_image_tag @poet.photo, class: "img-fluid" %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back poet, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_poet_url(poet), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to poet, method: :delete, data: { confirm: "Do you really want to delete this poet?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(poet.updated_at) %> ago
  </div>
</div>
