<%= form_with(model: @poem, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>

    <%= f.text_field :body, class: "form-control" %>
  </div>

  <%= f.hidden_field :author_id, value: @poet.id %>

  <div class="form-group">
    <%= f.label :date %>
    <%= f.datetime_select :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :commentary %>

    <%= f.text_field :commentary, class: "form-control" %>
  </div>

  <%= f.submit "Create poem", class: "btn btn-block btn-outline-secondary" %>
<% end %>
