<%= form_with(model: @comment, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :body %>

    <%= f.text_field :body, class: "form-control" %>
  </div>

  <%= f.hidden_field :commenter_id, value: @poet.id %>

  <div class="form-group">
    <%= f.label :poem_id %>

    <%= f.collection_select :poem_id, Poem.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
